<h1>Welcome to play area</h1>
<%= @question.problem %>
<p><strong>A. </strong><%= @answers[0] %></p>
<p><strong>B. </strong><%= @answers[1] %></p>
<p><strong>C. </strong><%= @answers[2] %></p>
<p><strong>D. </strong><%= @answers[3] %></p>

